<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576394780151-e1hkn8hmhnoansdq4penrcdoh653hkt9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576394780151-e1hkn8hmhnoansdq4penrcdoh653hkt9</string>
	<key>API_KEY</key>
	<string>AIzaSyCkA9rX9sP_dYjn2DQzN0Jr_wpSGoS0XWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>576394780151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devnative.melinda</string>
	<key>PROJECT_ID</key>
	<string>melinda-60bbf</string>
	<key>STORAGE_BUCKET</key>
	<string>melinda-60bbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576394780151:ios:34d7a29cd8fb855ff762f2</string>
	<key>DATABASE_URL</key>
	<string>https://melinda-60bbf.firebaseio.com</string>
</dict>
</plist>